body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    position: relative;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

video {
    width: 45vw; /* 50% of the viewport width */
    height: 50vh;
    height: auto; /* Maintain aspect ratio */
    position: absolute; /* Ensure the video is behind other content */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1; /* Keep video behind other content */
    object-fit: cover; /* Cover the specified dimensions */
}

h1, button, #warning-popup, #social-popup, #instagram-popup, #no-instagram-popup {
    position: relative;
    z-index: 1; /* Ensure content is above the video */
}

h1 {
    color: white;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
}

button {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 5px;
    padding: 15px 25px;
    cursor: pointer;
    font-size: 18px;
    color: white;
    margin-top: 20px;
}

#warning-popup, #social-popup, #instagram-popup, #no-instagram-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 76%;
    max-width: 375px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 17.5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    z-index: 2;
    text-align: center;
}

#close-btn, #proceed-btn, #close-final-btn {
    margin-top: 20px;
    background-color: #ff6347;
    color: white;
    width: 96.5%;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#social-popup {
    background-image: url('placeholder.jpg'); /* Replace 'placeholder.jpg' with your background image */
    background-size: cover;
    background-position: center;
}

p {
    color: black;
}

button.copy-btn {
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 20px;
        padding: 8px 16px;
    }

    button {
        font-size: 16px;
        padding: 12px 20px;
    }

    #warning-popup, #social-popup, #instagram-popup, #no-instagram-popup {
        width: 90%;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 18px;
        padding: 6px 12px;
    }

    button {
        font-size: 14px;
        padding: 10px 18px;
    }

    #warning-popup, #social-popup, #instagram-popup, #no-instagram-popup {
        width: 95%;
    }
}
